<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원가입 | 싱글벙글 카페</title>
  <link rel="stylesheet" href="/css/signup_style.css">
</head>
<body>
<h1>회원가입 페이지</h1>

<form action="" method="POST">
  <div>
    <label for="username">아이디: </label>
    <input id="username" type="text" name="username" required>
  </div>
  <div>
    <label for="password">비밀번호: </label>
    <input id="password" type="password" name="password" required>
  </div>
  <div>
    <label for="email">이메일: </label>
    <input id="email" type="email" name="email" required>
  </div>

  <div>
    <button id="register-btn">가입</button>
  </div>
</form>

<div class="login-link">
  이미 회원이신가요?
  <a href="/login">로그인</a>
</div>

<script>
  document.getElementById('register-btn').addEventListener('click', function(event) {
    event.preventDefault();
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;
    const email = document.getElementById('email').value;
    console.log("data");
    console.log(username, password, email);

    const data = {
      "username": username,
      "password": password,
      "email": email,

    };

    fetch('/signup', {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data)
    })
        .then(response => {
          if (!response.ok) {
            return response.json().then(err => { throw err; });
          }
          return response.json();
        })
        .then(data => {
          alert(`회원가입 완료!`);
          window.location.href = '/signin'; //성공하면 로그인 페이지로
        })
        .catch(err => {
          let message = '알 수 없는 오류가 발생했습니다.';
          // alert(err);
          if (err && err.error && err.error.message) {
            message = err.error.message;
          }
          alert(message);
          window.location.href = '/signup';
        });
  });
</script>

</body>
</html>