<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>로그인 | Grid & Circles</title>
</head>
<body>
  <h1>로그인</h1>
  <div>
    <form action="/login" method="POST">
      <div>
        <label for="username">아이디: </label>
        <input id="username" type="text" name="username">
      </div>
      <div>
        <label for="password">비밀번호: </label>
        <input id="password" type="password" name="password">
      </div>
      <div>
        <button>로그인</button>
      </div>
    </form>
  </div>
  <div>
    <button type="button">
      <a href="/signup">회원가입</a>
    </button>
  </div>


</body>
</html>